<div class="w-full text-center">
   <%= form_with(url: hotwire_example_update_path, method: :put) do |form| %>
    <%= submit_tag "Magic Sequence", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  <% end %>

  <div id="ATUALIZAR_AQUI" class="w-full text-center pt-10">
    <p>AQUI FICA O RESULTADO</p>
  </div>

  <div
    data-controller="current-time"
    data-current-time-pre-text-value="TROPICAL INFORMA ->"
    class="flex flex-col w-full pt-10">

    <p data-current-time-target="currentTime24">Hora atual (24H):</p>
    <p data-current-time-target="currentTime12">Hora atual (12H):</p>

    <%= link_to "Copiar para o console", "#", class: "mt-10 text-blue-600", data: { action: "click->current-time#showOnConsole" } %>
  </div>
</div>