<div class="w-full text-center">
  <h1 class="text-xl pb-8">Tropical Workshop</h1>
  <ul>
    <li><%= link_to 'Exemplo 01 - Hotwire', hotwire_example_index_path %></li>    
    <li><%= link_to 'Exemplo 02 - Phlex', "#" %></li>
    <li><%= link_to 'Exemplo 02 - Phlex', phlex_example_index_path %></li>
    <li><%= link_to 'Exemplo 03 - RubyUI', ruby_ui_example_index_path %></li>
  </ul>
</div>